<div class="container mx-auto items-center flex flex-col">
    <h1 class="page-title">Certifications</h1>
    <h2 class="text-xl middle-font">(Most Recent First)</h2>
    <showcase-accordion 
        id="CT-ProjectPlus"
        description="This certification was required for my 'STEM 420: Project Management' class. It tests IT professionals on project management skills on the project life cycle and related documentation. It helps indicate a candidate is able to manage smaller projects."
        showcaseName="CompTIA Project+"
        showcaseImgPath="/assets/certs/CT-ProjectPlus.webp"
        [hasVerification]="true"
        verificationLink="http://verify.CompTIA.org"
        verificationCode="C99WXQ05JFVQQT5J"
    ></showcase-accordion>
    <showcase-accordion 
        id="MS-MTA"
        description="This certification was required for my associate degree capstone class. Its domain areas were 'Understanding Core Programming,' 'Understanding Object-Oriented Programming,' 'Understanding General Software Development,' 'Understanding Web Applications,' and 'Understanding Databases.' It uses code problems from the .NET Framework and .NET Core along with other types of questions."
        showcaseName="MTA: Software Development Fundamentals"
        showcaseImgPath="/assets/certs/MS-MTA-SoftwareDevelopmentFundamentals.webp"
    ></showcase-accordion>
    <showcase-accordion 
        id="TS-LinuxPro"
        description="This certification was acquired shortly after my second year at the Caperton Center. It tests IT professionals for basic skills with Linux operating systems."
        showcaseName="TestOut Linux Pro"
        showcaseImgPath="/assets/certs/TS-LinuxPro.webp"
        [hasVerification]="true"
        verificationLink="https://verification.testout.com/"
        verificationCode="6-2C6-VB6P7"
    ></showcase-accordion>
    <showcase-accordion 
        id="TS-SecurityPro"
        description="This certification was acquired at the tail end of my second year at the Caperton Center. It tests IT professionals for basic skills with protecting computer systems."
        showcaseName="TestOut Security Pro"
        showcaseImgPath="/assets/certs/TS-SecurityPro.webp"
        [hasVerification]="true"
        verificationLink="https://verification.testout.com/"
        verificationCode="6-2C6-V9X2R"
    ></showcase-accordion>
    <showcase-accordion 
        id="CT-APlus"
        description="This certification was acquired shortly before my last days at the Caperton Center. It tests IT professionals for beginner and some intermediate knowledge of computers, security, networks, etc. "
        showcaseName="CompTIA A+"
        showcaseImgPath="/assets/certs/CT-APlus.webp"
        [hasVerification]="true"
        [hasExpired]="true"
        verificationLink="http://verify.CompTIA.org"
        verificationCode="0GFBX03EQD14QDSR"
    ></showcase-accordion>
    <showcase-accordion 
        id="MS-Access"
        description="This certification was acquired during one of my high school classes in the final nine weeks of my senior year. It tests that the test taker has intermediate skills in Microsoft Access 2016."
        showcaseName="Microsoft Office Specialist: Access 2016"
        showcaseImgPath="/assets/certs/MS-Access.webp"
    ></showcase-accordion>
    <showcase-accordion 
        id="MS-Excel"
        description="This certification was acquired during one of my high school classes in the third nine weeks of my senior year. It tests that the test taker has intermediate skills in Microsoft Excel 2016."
        showcaseName="Microsoft Office Specialist: Excel 2016"
        showcaseImgPath="/assets/certs/MS-Excel.webp"
    ></showcase-accordion>
    <showcase-accordion 
        id="TS-PCPro"
        description="This certification was acquired during my second year at the Caperton Center. It tests IT professionals for basic skills with understanding and troubleshooting computer systems, and changing computer hardware."
        showcaseName="TestOut PC Pro"
        showcaseImgPath="/assets/certs/TS-PCPro.webp"
        [hasVerification]="true"
        verificationLink="https://verification.testout.com/"
        verificationCode="6-2C6-V54A2"
    ></showcase-accordion>
    <showcase-accordion 
        id="TS-Network"
        description="This certification was acquired during my first year at the Caperton Center. It tests IT professionals for basic skills with understanding and troubleshooting network systems, configuring switches and routers, creating ethernet cables, etc."
        showcaseName="TestOut Network Pro"
        showcaseImgPath="/assets/certs/TS-NetworkPro.webp"
        [hasVerification]="true"
        verificationLink="https://verification.testout.com/"
        verificationCode="6-2C6-VUGBK"
    ></showcase-accordion>
    <showcase-accordion 
        id="MS-PowerPoint"
        description="This certification was acquired during one of my high school classes in the final nine weeks of my junior year. It tests that the test taker has intermediate skills in Microsoft PowerPoint 2016."
        showcaseName="Microsoft Office Specialist: PowerPoint 2016"
        showcaseImgPath="/assets/certs/MS-PowerPoint.webp"
    ></showcase-accordion>
    <showcase-accordion 
        id="MS-Word"
        description="This certification was acquired during one of my high school classes in the third nine weeks of my junior year. It tests that the test taker has intermediate skills in Microsoft Word 2016."
        showcaseName="Microsoft Office Specialist: Word 2016"
        showcaseImgPath="/assets/certs/MS-Word.webp"
    ></showcase-accordion>
</div>
