<nav class="p-2">
  <div class="container mx-auto flex">
    <a [routerLink]="['/']" class="flex-auto">Contact Me</a>
    <div class="flex-auto relative group">
      <button class="block h-6 w-32 ">
        Learn More <i class="fa-solid fa-chevron-down"></i>
      </button>
      <div class="invisible group-hover:visible w-48 shadow-xl absolute bg-theme">
        <a [routerLink]="['/']" class="block px-4 py-2 flip-colors-on-hover">Resume</a>
        <a [routerLink]="['/']" class="block px-4 py-2 flip-colors-on-hover">Transcript</a>
        <a [routerLink]="['/']" class="block px-4 py-2 flip-colors-on-hover">Skills</a>
        <a [routerLink]="['/']" class="block px-4 py-2 flip-colors-on-hover">Certifications</a>
        <a [routerLink]="['/']" class="block px-4 py-2 flip-colors-on-hover">Other Credentials</a>
      </div>
    </div>
  </div>

</nav>