a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.unformatted-link {
  color: var(--textColor);
  text-decoration: none;
}

// Active link will have its button, image, or itself if it is a menu item be surronded with a dashed outline in the theme color.
.active-link {

  &.menu-item, button, img {
    outline-style: dashed;
    outline-color: var(--ctaPrimary); // Locks it into the theme color
    outline-width: .2em;
  }
  
}

a {
  font-family: 'Hind Guntur', sans-serif;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
