<a class="unformatted-link">
    <button class="block h-16 underline mx-auto">
      Manage User <i class="fa-solid fa-chevron-down"></i>
    </button>
    <div class="invisible group-hover:visible w-48 shadow-xl absolute bg- ml-16 z-50" *ngIf="isAuthenticated | async">
      <a [routerLink]="['/authentication/profile']" routerLinkActive="active-link" title="Manage" class="block px-4 py-2 flip-colors-on-hover menu-item ">Hello {{ userName | async }}</a>
      <a [routerLink]="['/authentication/logout']" routerLinkActive="active-link" [state]='{ local: true }' title="Logout" class="block px-4 py-2 flip-colors-on-hover menu-item">Logout</a>
    </div>
    <div class="invisible group-hover:visible w-48 shadow-xl absolute bg-theme ml-16 z-50" *ngIf="(isAuthenticated | async) !== true">
        <a [routerLink]="['/authentication/register']" routerLinkActive="active-link" class="block px-4 py-2 flip-colors-on-hover menu-item ">Register</a>
        <a [routerLink]="['/authentication/login']" routerLinkActive="active-link" class="block px-4 py-2 flip-colors-on-hover menu-item">Login</a>
    </div>
</a>