<div class="container mx-auto items-center flex flex-col">
    <h1 class="page-title">Credentials and Awards</h1>
    
    <showcase-accordion 
        id="OutstandingSeniorAward"
        description="I received this award near the end of my senior year of high school from the Caperton Center. This was awarded due to my constant participation in pretty much every Computer System Repair project around the Caperton Center that I could work on. I did projects during my time there and my classwork during free time either at the high school or at home."
        showcaseName="Outstanding Senior of 2019 Award"
        showcaseImgPath="/assets/creds_and_awards/OutstandingSeniorAward.webp"
    ></showcase-accordion>

    <showcase-accordion 
        id="NOCTI-CSR"
        description="This was a test taken for my Computer System Repair class at the Caperton Center. It required a 70% score in order to get the credential. I managed to get 85%, the highest in the class. NOCTI is short for National Occupational Competency Testing Institute."
        showcaseName="NOCTI Competency Credential for Computer Repair Technology"
        showcaseImgPath="/assets/creds_and_awards/NOCTI-CSR.webp"
        [hasExpired]="true"
    ></showcase-accordion>

    <showcase-accordion 
        id="CC-OSHA10"
        description="During my Computer System Repair class at the Caperton Center, students had to complete a 10-Hour General Industry Course for knowledge of OSHA regulations. I am not sure if this is valid for life or only a few years though, it may be expired."
        showcaseName="CareerSafe OSHA 10-Hour General Industry Course Certificate of Completion"
        showcaseImgPath="/assets/creds_and_awards/CC-OSHA10.webp"
    ></showcase-accordion>
</div>
