@tailwind base;
@tailwind components;
@tailwind utilities;

// Main Color Theme
$color-theme: #80669d;
$color-light: #fff8e4;
$color-light-accent: #fffbf4;
$color-light-text: #fbf3e6;
$color-dark: #1e1c17;
$color-dark-accent: #25221b;
$color-dark-text: #362812;

$color-mostly-white: #f9f9f9;
$color-mostly-black: #060606;

@mixin lightMode() {
  --bgColor: #{$color-light};
  --altBgColor: #{$color-dark};
  --cardBgColor: #{$color-light-accent};
  --textColor: #{$color-dark-text};
  --mostlyWhite: #{$color-mostly-white};
  --mostlyBlack: #{$color-mostly-black};

  --ctaPrimary: #{$color-theme};
  --ctaPrimaryText: #{$color-mostly-white};

  --ctaSecondary: #3B454A;
  --ctaSecondaryText: #{$color-mostly-white};

  --ctaDisabled: #858585;
  --ctaDisabledText: #{$color-mostly-black};

  --ctaWarning: #C1583E;
  --ctaWarningText: #{$color-mostly-black};

  --ctaPositive: #0D7326;
  --ctaPositiveText: #{$color-mostly-white};

  --ctaNegative: #DD0808;
  --ctaNegativeText: #{$color-mostly-white};
}

@mixin darkMode() {
  --bgColor: #{$color-dark};
  --altBgColor: #{$color-light};
  --cardBgColor: #{$color-dark-accent};
  --textColor: #{$color-light-text};
  --mostlyWhite: #{$color-mostly-white};
  --mostlyBlack: #{$color-mostly-black};

  --ctaPrimary: #{$color-theme};
  --ctaPrimaryText: #{$color-mostly-white};

  --ctaSecondary: #{$color-light-text};
  --ctaSecondaryText: #{$color-mostly-black};

  --ctaDisabled: #858585;
  --ctaDisabledText: #{$color-mostly-black};

  --ctaWarning: #C1583E;
  --ctaWarningText: #{$color-mostly-black};

  --ctaPositive: #0D7326;
  --ctaPositiveText: #{$color-mostly-white};

  --ctaNegative: #DD0808;
  --ctaNegativeText: #{$color-mostly-white};
}

// Configure the body to use the light and dark mode
#trueBody.light {
  @include lightMode();
}

#trueBody.dark {
  @include darkMode();
}

#trueBody {
  background-color: var(--bgColor);
  color: var(--textColor);
}

/* Helpers for using the correct background and foreground color */
.bg-theme {
  background-color: var(--bgColor);
}

.fg-theme {
  color: var(--textColor);
}

/* Provide sufficient contrast against white background */
a {
  color: var(--ctaPrimary);
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: var(--textColor);
}

a.normal-link {
  text-decoration: underline;
  color: var(--ctaPrimary);
}

code {
  color: #e01a76;
}

.btn {
  @apply rounded p-2;
}

.btn-primary {
  @extend .btn;
  background-color: var(--ctaPrimary);
  color: var(--ctaPrimaryText);
}

.flip-colors-on-hover:hover {
  background-color: var(--textColor);
  color: var(--bgColor);
}

// Baseline gradient created by using the generator here: https://underline-generator.netlify.app/?ref=undesign
.fancy-underline {
  background-image: linear-gradient(120deg, #82afe6,#8beae8,#f68fbc 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.15em;
  background-position: 0 80%;
  transition: background-size 0.25s ease-in;

  &:hover {
    background-size: 100% 88% !important;
    color: $color-mostly-black;
  }

  // Better usability and mobile friendly
  &:active::after {
    content: " " attr(title) " ";
    font-style: italic;
  }
}

.card {
  background-color: var(--cardBgColor);
  width: 100%;
  @apply rounded p-2 mx-auto;
}

.page-title {
  @apply text-4xl mb-12 font-bold;
}

.chart-div {
  background-color: var(--mostlyWhite);
  @apply rounded;
}




