<div [className]="env.uiMode" id="trueBody" style="min-height: 100vh">
  <app-nav-menu></app-nav-menu>
  <div class="container mx-auto">
    <div class="w-full flex flex-row justify-between">
      <a [routerLink]="['/']" *ngIf="shouldShowSummaryReturnLink">
        <button class="btn btn-primary flex">
          <i class="fa-solid fa-arrow-left-long flex-item text-2xl lg:text-base"></i>
          <span class="flex-item hidden lg:inline ml-1">Back to Summary</span>
        </button>
      </a>
      <div *ngIf="!shouldShowSummaryReturnLink">&nbsp;</div>
      <button class="btn-primary flex" (click)="toggleTheme()">
        <i class="fa-solid fa-sun flex-item self-center text-2xl lg:text-base" *ngIf="env.uiMode === 'light'"></i>
        <i class="fa-solid fa-moon flex-item self-center text-2xl lg:text-base" *ngIf="env.uiMode === 'dark'"></i>
        <span class="hidden lg:inline flex-item ml-1">Toggle Theme</span>
      </button>
    </div>
    <p-toast position="top-right" key="tr"></p-toast>
    
    <router-outlet></router-outlet>

    <div class="w-full flex">
      <button (click)="scrollToTop()" class="mt-24 btn btn-primary mx-auto">Scroll to Top</button>
    </div>
    
  </div>

  <div id="footer" class="flex pb-8 pt-3 mt-12 w-full">
    <a [routerLink]="['/']" class="flex-auto h-48 w-48 items-center hidden md:inline" title="Return to Summary Page">
      <img src="/assets/img/personal-logo.webp" alt="Logo and Front Page Link" class="fill-current h-46 w-46 mx-auto">
    </a>
    <span class="flex-auto ml-2 self-center middle-font">
      Copyright &copy; 2023 Devon Dalrymple. Code licensed under the <a href="https://github.com/DevonXDal/Digital-Portfolio/blob/develop/LICENSE" target="_blank">MIT License</a>
    </span>
  </div>
</div>


